body {
                margin:0;
                padding:0;
                font-family: Sans-Serif;
                line-height: 1.5em;
        }
        
        #header {
                background: linear-gradient(to left, #76b852, #8DC26F);
                height: 100px;
        }
        
        #header h1 {
                margin: 0;
                padding-top: 15px;
        }
        
        main {
                padding-bottom: 10010px;
                margin-bottom: -10000px;
                float: left;
                width: 100%;
        }
        
        #nav {
                padding-bottom: 10010px;
                margin-bottom: -10000px;
                float: left;
                width: 120px;
                margin-left: -100%;
                background: #8DC26F;
        }
        
        #footer {
                clear: left;
                width: 100%;
                background: linear-gradient(to left, #76b852, #8DC26F);
                text-align: center;
                padding: 4px 0;
                min-height:100px;
        }

        #wrapper {
                overflow: hidden;
                min-height: 470px;
        }
                                
        #content {
                margin-left: 110px; /* Same as 'nav' width */
        }
        
        .innertube {
                margin: 15px; /* Padding for content */
                margin-top: 0;
        }

        p {
                color: #555;
        }

        nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
        }
        
        nav ul a {
                color: #000;
                text-decoration: none;
        }
        table {
                display: table;
                border-collapse: separate;
                border-spacing: 2px;
                border-color: gray;
                border: 1px solid;
            }
       th {
                background-color: #445A50;
                color: white;
            }
       tr:nth-child(even){background-color: #f2f2f2}
       .innertube h1{
        font-size: 20px;
       }
       .innertube h2{
        font-size: 16px;
       }
       .innertube ul li{
        border-bottom: 1px solid #fff;
       }    
       body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}     